@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-color: #a9ffff;
    font-family: "Roboto Light", sans-serif;
}

h1 {
    color: #333;
}

p {
    color: #666;
}